openapi: 3.0.0
info:
  title: Sphere Tax Calculation API
  description: This API calculates taxes for a given customer based on their location and applicable tax rates.
  version: 1.0.0
  contact:
    name: API Support
    email: support@sphere.com
    url: https://www.sphere.com/support
servers:
  - url: https://api.sphere.com/v1
    description: Production Server
  - url: https://sandbox.sphere.com/v1
    description: Sandbox Server
paths:
  /tax_calculate:
    post:
      summary: Calculate taxes for a given customer and their line items
      description: This endpoint calculates taxes based on the provided customer address and line items.
      operationId: calculateTax
      tags:
        - Tax Calculation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_address:
                  type: object
                  description: The address of the customer to calculate taxes for.
                  properties:
                    address1:
                      type: string
                      description: Street address of the customer.
                    address2:
                      type: string
                      description: Optional second line of address (suite, apartment, etc.).
                    city:
                      type: string
                      description: The city of the customer.
                    state:
                      type: string
                      description: The state of the customer.
                    postal_code:
                      type: string
                      description: The postal code of the customer.
                    country:
                      type: string
                      description: The country of the customer.
                line_items:
                  type: array
                  description: List of items for which tax needs to be calculated.
                  items:
                    type: object
                    properties:
                      amount:
                        type: integer
                        description: The amount of the line item in the smallest currency unit (e.g., cents).
                      product_id:
                        type: string
                        description: Unique identifier for the product.
                currency:
                  type: string
                  description: The currency for the tax calculation (e.g., USD, EUR).
              required:
                - customer_address
                - line_items
                - currency
      responses:
        '200':
          description: Tax calculation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  lines:
                    type: array
                    description: List of line items with tax amounts.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique ID of the product line.
                        tax_amounts:
                          type: array
                          description: List of tax amounts for the line item.
                          items:
                            type: object
                            properties:
                              amount:
                                type: integer
                                description: The calculated tax amount in the smallest currency unit (e.g., cents).
                              taxable_amount:
                                type: integer
                                description: The taxable amount for this line item in the smallest currency unit.
                              tax_rate:
                                type: object
                                properties:
                                  percentage:
                                    type: number
                                    format: float
                                    description: The tax rate percentage.
                                  inclusive:
                                    type: boolean
                                    description: Whether the tax is inclusive of the product price.
                                  display_name:
                                    type: string
                                    description: The name of the tax rate (e.g., Sales Tax).
                                  jurisdiction:
                                    type: string
                                    description: The jurisdiction where the tax applies.
                                  country:
                                    type: string
                                    description: The country where the tax is applied.
                                  state:
                                    type: string
                                    description: The state where the tax is applied.
                  sphere_tax_calculation_id:
                    type: string
                    description: A unique identifier for this tax calculation.
        '400':
          description: Invalid request data. The request body is malformed or missing required fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A description of the error.
        '500':
          description: Server error. Something went wrong on the server side.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A description of the error.
components:
  schemas:
    TaxCalculationRequest:
      type: object
      properties:
        customer_address:
          type: object
          properties:
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postal_code:
              type: string
            country:
              type: string
        line_items:
          type: array
          items:
            type: object
            properties:
              amount:
                type: integer
              product_id:
                type: string
        currency:
          type: string
    TaxCalculationResponse:
      type: object
      properties:
        lines:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              tax_amounts:
                type: array
                items:
                  type: object
                  properties:
                    amount:
                      type: integer
                    taxable_amount:
                      type: integer
                    tax_rate:
                      type: object
                      properties:
                        percentage:
                          type: number
                          format: float
                        inclusive:
                          type: boolean
                        display_name:
                          type: string
                        jurisdiction:
                          type: string
                        country:
                          type: string
                        state:
                          type: string
        sphere_tax_calculation_id:
          type: string
